{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <main class="container py-5 text-center">
        <table class="table" id="tb">
            <thead>
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">Transacted</th>
                </tr>
            </thead>
            <tbody>
                {% for row in history %}
                    <tr>
                        <td class="text-start">{{ row.symbol }}</td>
                        <td class="text-end">{{ row.quantity }}</td>
                        <td class="text-end">${{ row.price }}</td>
                        <td class="text-end">{{ row.timestamp }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}